@page "/criar-cliente"

@using ClientesDevExpress.Models
@inject ClienteService ClienteService
@inject NavigationManager NavManager

<h2>Criar Cliente</h2>

<div class="cw-880">
    
    <EditForm OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext"
              Model="@NovoCliente">
        <DataAnnotationsValidator/>
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Nome do cliente:">
                    <DxTextBox @bind-Text="@NovoCliente.Nome" 
                               NullText="Nome"
                               ShowValidationIcon="true"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Email:" BeginRow="true">
                    <DxTextBox @bind-Text="@NovoCliente.Email" 
                               NullText="Email"
                               ShowValidationIcon="true"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Telefone:" BeginRow="true">
                    <DxSpinEdit @bind-Value="@NovoCliente.Telefone" 
                                Mask="#########"
                                ShowValidationIcon="true"/>
            </DxFormLayoutItem>
            <div class="row w-100 mx-0" style="color:red">
                <p class="demo-text col-12 mt-2">
                    <b>@FormValidationState</b>
                </p>
            </div>
            <DxFormLayoutItem ColSpanMd="12">
                        <DxButton SubmitFormOnClick="true"
                                  Text="Submeter"
                                  RenderStyle="ButtonRenderStyle.Secondary"/>
                    </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
     
</div>



@code {
    string Nome { get; set; }
    string Email { get; set; }
    int Telefone { get; set; }
    string FormValidationState { get; set; }

    Cliente NovoCliente = new Cliente();

    void HandleValidSubmit() {
        ClienteService.AddCliente(NovoCliente.Nome, NovoCliente.Email, NovoCliente.Telefone);
        NavManager.NavigateTo("/grid");
    }

    void HandleInvalidSubmit()
    {
        FormValidationState = @"Preencha todos os campos corretamente!";
    }

}
